.container {
  width: 100vw;
  padding-inline: 2vw;
  // margin-top: 2vw;
  padding-block: 8vw;
  background: #242320;
  color: #e4ddd4;

  .title {
    font-size: 4vw;
    text-transform: uppercase;
    margin-bottom: 4vw;

    @media screen and (max-width: 1000px) {
      font-size: 7vw;
    }

    @media screen and (max-width: 800px) {
      font-size: 8vw;
    }

    @media screen and (max-width: 600px) {
      font-size: 9vw;
    }
  }

  .image {
    width: 100%;
    margin-bottom: 10vw;
  }

  .data {
    width: 100%;
    margin-top: 4vw;

    @media screen and (max-width: 1000px) {
      margin-top: 6vw;
    }

    @media screen and (max-width: 800px) {
      margin-top: 7vw;
    }

    @media screen and (max-width: 600px) {
      margin-top: 10vw;
    }

    p {
      width: 70%;

      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }

    .tip-title {
      font-size: 1vw;
      text-transform: uppercase;
      opacity: 0.4;

      @media screen and (max-width: 1000px) {
        font-size: 1.5vw;
      }

      @media screen and (max-width: 800px) {
        font-size: 2vw;
      }

      @media screen and (max-width: 600px) {
        font-size: 3vw;
      }
    }

    .tip-content {
      margin-top: 0.6vw;
      line-height: 1.5;
      font-family: At hauss medium;
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 1000px) {
        margin-top: 1vw;
      }

      @media screen and (max-width: 800px) {
        margin-top: 1.5vw;
      }

      @media screen and (max-width: 600px) {
        margin-top: 2vw;
      }

      .word {
        display: flex;
        color: #e4ddd4;
        overflow: hidden;
        margin-left: 0.35vw;
        font-size: 1.4vw;
        letter-spacing: -0.03vw;

        @media screen and (max-width: 1000px) {
          font-size: 2vw;
          letter-spacing: -0.1vw;
          margin-left: 0.5vw;
        }

        @media screen and (max-width: 800px) {
          font-size: 3vw;
          letter-spacing: -0.12vw;
          margin-left: 0.75vw;
        }

        @media screen and (max-width: 600px) {
          font-size: 4vw;
          letter-spacing: -0.18vw;
          margin-left: 1vw;
        }
      }
    }
  }
}
