.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242320;
  $color: #e4ddd4;
  transform-origin: top;

  .sidebar-top {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color;

    .sidebar-logo {
      font-size: 1.8rem;
      font-weight: bold;

      [data-classname="character"] {
        font-family: Little muffin;
      }
    }

    .sidebar-close {
      background: $color;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        fill: #242320;
      }
    }
  }

  .sidebar-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-inline: 1.5rem;
  }

  .sidebar-footer {
    position: absolute;
    padding: 1rem 1.5rem;
    left: 0;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .sidebar-icons {
      display: flex;
      gap: 1rem;

      svg {
        fill: $color;
        height: 1.2rem;
        width: 1.2rem;
        cursor: pointer;
      }
    }

    .sidebar-email {
      font-size: 0.8rem;
      color: $color;
      cursor: pointer;
    }
  }

  .sidebar-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 70%;
    }
  }
}
