:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: At hauss regular;
}

body {
  overflow-x: hidden;
  background: #e4ddd4;
}

*::-webkit-scrollbar {
  display: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@font-face {
  font-family: Little muffin;
  src: url(./fonts/LittleMuffin-Black.ttf);
}

@font-face {
  font-family: At hauss bold;
  src: url(./fonts/AtHaussTRIAL-Bold.otf);
}

@font-face {
  font-family: At hauss light;
  src: url(./fonts/AtHaussTRIAL-Light.otf);
}

@font-face {
  font-family: At hauss medium;
  src: url(./fonts/AtHaussTRIAL-Medium.otf);
}

@font-face {
  font-family: At hauss regular;
  src: url(./fonts/AtHaussTRIAL-Regular.otf);
}

:root {
  --primary: #120c0e;
  --primary-hovered: #191818;
  --box-shadow-color: #2f2f2f;
  --bg-color: #fff;
  --bg-color-body: #e4ddd4;
  --bg-color-hovered: #edededcf;
  --text-bold-color: #000000;
  --text-color: #373737;
  --input-bg: #fff2f200;
  /* ///// */
}
